### use # to comment out the configure item

model_name=MUL_LSTM_MCA

### I/O ###
train_dir=data/tweet_new/train
dev_dir=data/tweet_new/dev
test_dir=data/tweet_new/test
model_dir=data/tweet_new/sample/model
word_emb_dir=data/embedding/glove.twitter.27B.200d.txt
object_emb_dir=data/embedding/glove.twitter.27B.200d.txt
object_dir=data/tweet_new/object_label


raw_dir=data/tweet_new/test
root_dir=data/tweet_new/sample
decode_dir=data/tweet_new/sample/test_out.txt
dset_dir=data/tweet_new/sample/model.dset
load_model_dir=data/tweet_new/sample/model.1.model
log_dir=data/tweet_new/sample/log.txt

norm_word_emb=False
norm_char_emb=False
norm_object_emb=False
number_normalized=True
seg=True
word_emb_dim=200
char_emb_dim=30
object_emb_dim=200
MAX_OBJECT_NB=4

###NetworkConfiguration###
use_crf=True
use_char=True
word_seq_feature=LSTM
char_seq_feature=CNN
#feature=[POS] emb_size=20
#feature=[Cap] emb_size=20
#nbest=1

###TrainingSetting###
status=train
optimizer=SGD
iteration=200
batch_size=10
ave_batch_loss=False

###Hyperparameters###
cnn_layer=4
char_hidden_dim=50
hidden_dim=200
multi_head=2
dropout=0.5
MCA_dropout=0.6
bilstm=True
SGA_layer=1


learning_rate=0.005
lr_decay=0.05
momentum=0
l2=1e-8
gpu=True
#clip=
